<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flask Starter App</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <header>
        {% include "header.html" %}
    </header>

    <main>
      <div class="container">

        <!-- Flash Messages Section -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages" style="margin-top: 1rem;">
              {% for category, message in messages %}
                <!-- Using Bootstrap’s alert classes for styling -->
                <div class="alert alert-{{ category }}" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <!-- End of Flash Messages Section -->

        {% block main %}
        {% endblock %}
      </div>
    </main>

    <footer>
      <div class="container">
        {% include "footer.html" %}
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>